* {
  font-family: Helvetica, Arial, sans-serif;
}

.admin-message {
  margin-bottom: 50px;
}

.parent {
  display: grid;
  grid-template-columns: 75px 1fr 1.5fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

#column-1 {
  background-color: rgb(160, 160, 160);
  border: solid 2px red;
  height: 100vh;
}
#column-2 {
  background-color: rgb(210, 210, 210);
  border: solid 2px blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#column-2 button {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}

#column-3 {
  border: solid 2px green;
  height: 100vh;
}
#column-4 {
  display: flex;
  flex-direction: column;
  border: solid 2px orange;
  height: 100vh;
}

#avatar-container {
  padding: 1vh 1vw 1vh 1vw;
}

#customer-avatar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 1vw;
}

#customer-avatar h1 {
  line-height: 0.5;
}

#message-composer {
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
  width: 100%;
}

#message-composer input {
  grid-area: 1 / 1 / 2 / 5;
  margin: 1vh 0.5vw;
  height: 3vh;
  border-radius: 5px;
  border: 1px solid darkgray;
  padding-left: 10px;
}

#message-composer button {
  grid-area: 1 / 5 / 2 / 5;
  margin: 1vh 0.5vw;
  background-color: #7749f8;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  border: 1px solid darkgrey;
}

#message-thread {
  height: 100vh;
  overflow: scroll;
  padding: 1vh 1vw;
}

#bubble {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#speech-bubble {
  grid-area: 2 / 1 / 3 / 4;
}

#category-container {
  grid-area: 3 / 1 / 4 / 4;
  margin: 0;
}

#category-container p {
  padding-right: 2px;
  margin: 0.5vh 0vw 0vh 0vw;
  text-align: end;
  color: darkgray;
  font-size: 0.8rem;
  font-weight: bolder;
}

#timestamp-container {
  grid-area: 1 / 1 / 2 / 4;
}

#timestamp-container p {
  margin: 0vh 0vw 0.5vh 0vw;
  color: darkgray;
}

#message-category {
  display: inline;
  font-weight: bolder;
}

.bubble-info {
  font-size: 0.8rem;
}

.no-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
}

.no-message-box {
  scale: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-message-text {
  color: #888;
  font-size: 1.5em;
  text-align: center;
}

#preview-container {
  display: grid;
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0.6vw;
  grid-row-gap: 0px;
  align-items: center;
  padding: 0.5vh 1.5vw 0.5vh 1.5vw;
  height: 7vh;
  transition: background-color ease-out 100ms;
}

#preview-container:hover {
  background-color: rgba(192, 149, 232, 0.431);
}

#preview-avatar {
  grid-area: 1 / 1 / 2 / 2;
}

#message-preview {
  grid-area: 1 / 2 / 2 / 3;
  overflow: hidden;
}

#message-preview p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

#message-preview-timestamp {
  grid-area: 1 / 3 / 2 / 4;
}

#message-preview-timestamp p {
  text-align: end;
  font-size: 0.9rem;
  font-weight: bolder;
  color: #8c8c8c;
}

.animated-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button-image {
  width: 50px;
  height: 50px;
  transition: transform 1s ease-in-out;
  margin-left: 10px;
  margin-bottom: 5px;
}
